*{
    box-sizing: border-box;
    display: block;
}
body{
    background-color:#DDDDDD;
}
.main{
    margin: 450px;;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
   
}
.middle{
background-color: white;
width: 650px;
height: 450px;
margin-left: 0%;
margin-top: 50px;
padding: 40px 70px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.middle input{
    padding: 12px;
    padding-top: 5px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 1px;
    border-color: #BFDCE5;
}
.middle button{
    width: 500px;
    height: 40px;
    background-color: #7B8FA1;
    border-color:#7B8FA1;
    margin-top: 15px;
    color:white;
}
textarea{
    width: 500px;
    height: 92px;
}
.main h6{
color:#C8B6A6;
}
.main p{
    color:#7B8FA1;
}
